@font-face {
font-family: 'JeonjuCraft';
src: url('./TTF/JeonjuCraft_Mj_Light.ttf') format('truetype');
}

* {
    font-family: 'JeonjuCraft', serif !important;
}

body {
    margin: 0;
    line-height: 1.6; /* 줄 간격 추가 */
}

a {
    color: black;
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: 700;
    color: #5d4037; /* 구움과자 갈색 */
    margin: 0;
}

h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 3px solid burlywood;
    padding: 20px;
    margin : 0; /*가운데 정렬*/
    display : block; /* 줄이 화면 끝까지 가게*/
}

h1 a{
    background: linear-gradient(to top, #f5f5f5 0%, #efebe9 100%);
    padding: 5px 25px; /* 배경 상자의 상하좌우 여백 */
    border-radius: 15px; /* 모서리 둥글게 */
    display: inline-block; /* 배경 글자 크기에 맞게 */
    color: #5d4037; 
    text-decoration : none; /* 밑줄 제거 */
}

h3 {
    margin-top: 50px;
}

ol {
    border-right: 3px solid burlywood;
    width: 100px;
    margin: 0;
    padding: 25px;
}

#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

#grid ol {
    padding-left: 33px;
    font-weight: bold;
    line-height: 2.5;
}

#zoo {
    padding: 50px;
    line-height: 2;
}

#zoo ol {
    border-right: none;
    display: inline;
    font-weight: normal;
    margin: 0;
}

@media(max-width: 800px) {
    #grid {
        display: block;
    }
    ol {
        border-right: none;
    }
    h1 {
        border-bottom: none;
    }
}