@font-face {
font-family: 'JeonjuCraft';
src: url('./TTF/JeonjuCraft_Mj_Light.ttf') format('truetype');
}

* {
    font-family: 'JeonjuCraft', serif !important;
}

body {
    margin: 0;
    line-height: 1.6; /* 줄 간격 추가 */
}

a {
    color: black;
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: 700;
    color: #5d4037; /* 구움과자 갈색 */
    margin: 0;
}

h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 3px solid burlywood;
    padding: 20px;

    color: #5d4037;

    /*배경 그라데이션*/
    background : linear-gradient(to top, #f5f5f5 30%, #efebe9 70%);

    display: block;
    width: fit-content; /* 콘텐츠에 맞는 너비 */
    margin: 0 auto; /* 가운데 정렬 */
    border-radius: 10px; /* 테두리 둥글게 */
}

h3 {
    margin-top: 50px;
}

ol {
    border-right: 3px solid burlywood;
    width: 100px;
    margin: 0;
    padding: 25px;
}

#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

#grid ol {
    padding-left: 33px;
    font-weight: bold;
    line-height: 2.5;
}

#zoo {
    padding: 50px;
    line-height: 2;
}

#zoo ol {
    border-right: none;
    display: inline;
    font-weight: normal;
    margin: 0;
}

@media(max-width: 800px) {
    #grid {
        display: block;
    }
    ol {
        border-right: none;
    }
    h1 {
        border-bottom: none;
    }
}